#central {
	
}

#resumen_lotes, #izquierdo {
	width: 45%;
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;
}

#resumen_lotes {
	margin-right: 10px;
}

#izquierdo {
	
}

textarea {
	margin-bottom: 10px;
}




