#central{
	width: 85%;
	margin: 0 auto;
}

header{
	background-color: #4fc1e9;
	padding: 10px;
}

title{
	color: #000;
}

h1{
	font-size: 30px;
}

#menu{
	z-index: 2;
	position: relative;
	background-color: #3bafda;
	padding-bottom: 5px;
	padding-top: 5px;
}

ul {
	margin: 0px;
}

li{
	display:inline;	
	border-right: 1px solid white;
	background-color: #3bafda;
	padding-bottom: 5px;
	padding-top: 5px;
}

a{
	font-size: 18px;
	padding-right: 9px;
	padding-left: 9px;
	color: white;
	
}

a.text{
	padding-bottom: 5px;
	padding-top: 5px;
}

#fila:hover {
	background-color: #f1f1f1;
}

table {
	text-align: justify;
}

td {
	vertical-align: top;
}

th{
	margin-right: 10px;
}

#botonborrar{
	margin-right: 10px;
}

textarea {
	margin-bottom: 10px;
}
