<?xml version="1.0" encoding="utf-8"?>
<web-app
        version="2.5"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
      <servlet-name>servletlotes</servlet-name>
      <servlet-class>com.proyecto.ControlCostesGanaderia.LotesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>servletlotes</servlet-name>
      <url-pattern>/servletlotes</url-pattern>
    </servlet-mapping>
    
    <servlet>
      <servlet-name>servletmateriaprima</servlet-name>
      <servlet-class>com.proyecto.ControlCostesGanaderia.MateriaPrimaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>servletmateriaprima</servlet-name>
      <url-pattern>/servletmateriaprima</url-pattern>
    </servlet-mapping>
    
    <servlet>
      <servlet-name>servletcompra</servlet-name>
      <servlet-class>com.proyecto.ControlCostesGanaderia.CompraServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>servletcompra</servlet-name>
      <url-pattern>/servletcompra</url-pattern>
    </servlet-mapping>
    
    <filter>
    	<filter-name>ObjectifyFilter</filter-name>
    	<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>

	<filter-mapping>
  		<filter-name>ObjectifyFilter</filter-name>
  		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
  		<listener-class>com.proyecto.ControlCostesGanaderia.OfyHelper</listener-class>
	</listener>

</web-app>
